/* Geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  flex-direction: column;
  margin: 0;
}

/* Cabeçalho */
header {
  width: 100%;
  background-color: #196fe2;
  padding: 20px;
  text-align: center;
  color: white;
  margin: 0;
  position: fixed;
  top: 0;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

/* Login */
.form {
  width: 400px;
  max-width: 90%;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.form h2 {
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
}

.input-container {
  position: relative;
  width: 100%;
}

#eye {
  cursor: pointer;
  color: #6b7280;
  font-size: 1.2rem;
  position: absolute;
  right: 3%;
  top: 20%;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  padding-left: 5px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: #ccc;
}

.notice {
  margin-top: 5px;
  font-size: 13px;
  color: #ff1313;
  display: none;
}

.noAcount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 20px;
}

.noAcount a {
  text-decoration: none;
  color: #196fe2;
}

.noAcount a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  background-color: #196fe2;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 38px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
